 .u-section-1 {
  min-height: 737px;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 530px;
  margin: 46px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 19px auto 0 calc(((100% - 1140px) / 2) + 61px);
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.75rem;
  background-image: none;
  font-weight: 700;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 234px);
  padding: 11px 183px 12px 182px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 97px auto 0 calc(((100% - 1140px) / 2) + 12px);
}

.u-section-1 .u-image-1 {
  width: 1088px;
  height: 357px;
  object-position: 50% 58.13%;
  margin: 2px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-align: start;
  margin: -357px auto 60px calc(((100% - 1140px) / 2) + 12px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 688px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 296px;
    margin-left: calc(((100% - 940px) / 2) + 259px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 61px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 34px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + 12px);
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 308px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -308px;
    margin-left: calc(((100% - 940px) / 2) + 12px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 227px;
    margin-left: calc(((100% - 720px) / 2) + 198px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 61px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 12px);
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 236px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -236px;
    margin-left: calc(((100% - 720px) / 2) + 12px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 557px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 170px;
    margin-left: calc(((100% - 540px) / 2) + 149px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 61px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + 12px);
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 177px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -177px;
    margin-left: calc(((100% - 540px) / 2) + 12px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 491px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 107px;
    margin-left: calc(((100% - 340px) / 2) + 94px);
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 61px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2) + 12px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 111px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -111px;
    margin-left: calc(((100% - 340px) / 2) + 12px);
  }
}