 .u-section-1 {
  min-height: 927px;
}

.u-section-1 .u-line-1 {
  height: 3px;
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.75rem;
  margin: 14px calc(((100% - 1140px) / 2) + 29px) 0 auto;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 217px;
  height: 200px;
  margin: 86px auto 0 calc(((100% - 1140px) / 2) + 325px);
}

.u-section-1 .u-image-2 {
  width: 217px;
  height: 200px;
  margin: -200px auto 0 calc(((100% - 1140px) / 2) + 29px);
}

.u-section-1 .u-image-3 {
  width: 217px;
  height: 200px;
  margin: -200px calc(((100% - 1140px) / 2) + 318px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 217px;
  height: 200px;
  margin: -200px calc(((100% - 1140px) / 2) + 29px) 0 auto;
}

.u-section-1 .u-text-1 {
  text-align: start;
  font-weight: 700;
  margin: 10px calc(((100% - 1140px) / 2) + 338px) 0 calc(((100% - 1140px) / 2) + 636px);
}

.u-section-1 .u-text-2 {
  text-align: start;
  font-weight: 700;
  margin: -31px calc(((100% - 1140px) / 2) + 73px) 0 calc(((100% - 1140px) / 2) + 938px);
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -31px auto 0 calc(((100% - 1140px) / 2) + 74px);
}

.u-section-1 .u-text-4 {
  text-align: start;
  font-weight: 700;
  margin: -32px auto 0 calc(((100% - 1140px) / 2) + 335px);
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  text-align: start;
  margin: 9px calc(((100% - 1140px) / 2) + 368px) 0 calc(((100% - 1140px) / 2) + 655px);
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  text-align: start;
  margin: -32px calc(((100% - 1140px) / 2) + 81px) 0 calc(((100% - 1140px) / 2) + 945px);
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: -29px auto 0 calc(((100% - 1140px) / 2) + 77px);
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  text-align: start;
  margin: -32px auto 0 calc(((100% - 1140px) / 2) + 374px);
}

.u-section-1 .u-image-5 {
  width: 217px;
  height: 200px;
  margin: 72px calc(((100% - 1140px) / 2) + 318px) 0 auto;
}

.u-section-1 .u-image-6 {
  width: 217px;
  height: 200px;
  margin: -200px calc(((100% - 1140px) / 2) + 29px) 0 auto;
}

.u-section-1 .u-image-7 {
  width: 217px;
  height: 200px;
  margin: -200px auto 0 calc(((100% - 1140px) / 2) + 317px);
}

.u-section-1 .u-image-8 {
  width: 217px;
  height: 200px;
  margin: -197px auto 0 calc(((100% - 1140px) / 2) + 37px);
}

.u-section-1 .u-text-9 {
  text-align: start;
  font-weight: 700;
  margin: 17px calc(((100% - 1140px) / 2) + 345px) 0 calc(((100% - 1140px) / 2) + 627px);
}

.u-section-1 .u-text-10 {
  text-align: start;
  font-weight: 700;
  margin: -32px calc(((100% - 1140px) / 2) + 82px) 0 calc(((100% - 1140px) / 2) + 947px);
}

.u-section-1 .u-text-11 {
  text-align: start;
  font-weight: 700;
  margin: -32px auto 0 calc(((100% - 1140px) / 2) + 120px);
}

.u-section-1 .u-text-12 {
  text-align: start;
  font-weight: 700;
  margin: -32px auto 0 calc(((100% - 1140px) / 2) + 389px);
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  text-align: start;
  margin: 20px calc(((100% - 1140px) / 2) + 81px) 0 calc(((100% - 1140px) / 2) + 945px);
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  text-align: start;
  margin: -32px auto 0 calc(((100% - 1140px) / 2) + 77px);
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  text-align: start;
  margin: -32px auto 0 calc(((100% - 1140px) / 2) + 374px);
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  text-align: start;
  margin: -29px calc(((100% - 1140px) / 2) + 367px) 60px calc(((100% - 1140px) / 2) + 654px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-top: 440px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -426px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 306px;
    margin-right: calc(((100% - 1140px) / 2) + 418px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -420px;
    margin-left: calc(((100% - 1140px) / 2) + 129px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 1140px) / 2) + 418px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 230px;
    margin-right: 284px;
    margin-left: calc(((100% - 1140px) / 2) + 590px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 74px;
    margin-left: calc(((100% - 1140px) / 2) + 838px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 174px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 1140px) / 2) + 376px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 302px;
    margin-left: calc(((100% - 1140px) / 2) + 621px);
  }

  .u-section-1 .u-text-6 {
    margin-right: 78px;
    margin-left: calc(((100% - 1140px) / 2) + 848px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 1140px) / 2) + 177px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 1140px) / 2) + 408px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 1140px) / 2) + 418px);
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 129px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 1140px) / 2) + 418px);
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 1140px) / 2) + 137px);
  }

  .u-section-1 .u-text-9 {
    margin-right: 278px;
    margin-left: calc(((100% - 1140px) / 2) + 594px);
  }

  .u-section-1 .u-text-10 {
    margin-right: 81px;
    margin-left: calc(((100% - 1140px) / 2) + 848px);
  }

  .u-section-1 .u-text-11 {
    margin-left: calc(((100% - 1140px) / 2) + 220px);
  }

  .u-section-1 .u-text-12 {
    margin-left: calc(((100% - 1140px) / 2) + 421px);
  }

  .u-section-1 .u-text-13 {
    margin-right: 78px;
    margin-left: calc(((100% - 1140px) / 2) + 848px);
  }

  .u-section-1 .u-text-14 {
    margin-left: calc(((100% - 1140px) / 2) + 177px);
  }

  .u-section-1 .u-text-15 {
    margin-left: calc(((100% - 1140px) / 2) + 408px);
  }

  .u-section-1 .u-text-16 {
    margin-right: 302px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 619px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    margin-top: 660px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -646px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 526px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -640px;
    margin-left: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -420px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 450px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 728px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 284px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 1140px) / 2) + 421px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 231px;
    margin-left: calc(((100% - 1140px) / 2) + 582px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 1140px) / 2) + 738px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 1140px) / 2) + 287px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 1140px) / 2) + 446px);
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 395px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-1 .u-image-7 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 395px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 1140px) / 2) + 247px);
  }

  .u-section-1 .u-text-9 {
    margin-right: 213px;
    margin-left: calc(((100% - 1140px) / 2) + 549px);
  }

  .u-section-1 .u-text-10 {
    margin-left: calc(((100% - 1140px) / 2) + 738px);
  }

  .u-section-1 .u-text-11 {
    margin-left: calc(((100% - 1140px) / 2) + 330px);
  }

  .u-section-1 .u-text-12 {
    margin-left: calc(((100% - 1140px) / 2) + 456px);
  }

  .u-section-1 .u-text-13 {
    margin-left: calc(((100% - 1140px) / 2) + 738px);
  }

  .u-section-1 .u-text-14 {
    margin-left: calc(((100% - 1140px) / 2) + 287px);
  }

  .u-section-1 .u-text-15 {
    margin-left: calc(((100% - 1140px) / 2) + 446px);
  }

  .u-section-1 .u-text-16 {
    margin-right: 231px;
    margin-left: calc(((100% - 1140px) / 2) + 580px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    margin-top: 972px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -958px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 329px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 329px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 329px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 329px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -30px;
    margin-left: calc(((100% - 1140px) / 2) + 638px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -32px;
    margin-left: calc(((100% - 1140px) / 2) + 374px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 374px);
  }

  .u-section-1 .u-text-5 {
    margin-top: 59px;
    margin-right: 173px;
    margin-left: calc(((100% - 1140px) / 2) + 550px);
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: 173px;
    margin-left: calc(((100% - 1140px) / 2) + 553px);
  }

  .u-section-1 .u-text-7 {
    margin-top: -81px;
    margin-left: calc(((100% - 1140px) / 2) + 477px);
  }

  .u-section-1 .u-text-8 {
    margin-top: -87px;
    margin-left: calc(((100% - 1140px) / 2) + 477px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 176px;
    margin-left: calc(((100% - 1140px) / 2) + 450px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 329px);
  }

  .u-section-1 .u-image-7 {
    margin-left: calc(((100% - 1140px) / 2) + 450px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 1140px) / 2) + 337px);
  }

  .u-section-1 .u-text-9 {
    margin-right: 160px;
    margin-left: calc(((100% - 1140px) / 2) + 512px);
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-right: 160px;
    margin-left: calc(((100% - 1140px) / 2) + 569px);
  }

  .u-section-1 .u-text-11 {
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-1 .u-text-12 {
    margin-left: calc(((100% - 1140px) / 2) + 485px);
  }

  .u-section-1 .u-text-13 {
    margin-left: calc(((100% - 1140px) / 2) + 648px);
  }

  .u-section-1 .u-text-14 {
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-1 .u-text-16 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    margin-top: 1192px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1178px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 429px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 429px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 429px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 429px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 538px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 474px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 1140px) / 2) + 474px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 109px;
    margin-left: calc(((100% - 1140px) / 2) + 514px);
  }

  .u-section-1 .u-text-6 {
    margin-right: 109px;
    margin-left: calc(((100% - 1140px) / 2) + 517px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 1140px) / 2) + 511px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 1140px) / 2) + 511px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 1140px) / 2) + 414px);
  }

  .u-section-1 .u-image-6 {
    margin-top: 240px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 414px);
  }

  .u-section-1 .u-image-7 {
    margin-top: -420px;
    margin-left: calc(((100% - 1140px) / 2) + 414px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 23px;
    margin-left: calc(((100% - 1140px) / 2) + 437px);
  }

  .u-section-1 .u-text-9 {
    margin-right: 101px;
    margin-left: calc(((100% - 1140px) / 2) + 471px);
  }

  .u-section-1 .u-text-10 {
    margin-right: 101px;
    margin-left: calc(((100% - 1140px) / 2) + 528px);
  }

  .u-section-1 .u-text-11 {
    margin-left: calc(((100% - 1140px) / 2) + 476px);
  }

  .u-section-1 .u-text-12 {
    margin-left: calc(((100% - 1140px) / 2) + 516px);
  }

  .u-section-1 .u-text-13 {
    margin-left: calc(((100% - 1140px) / 2) + 548px);
  }

  .u-section-1 .u-text-14 {
    margin-left: calc(((100% - 1140px) / 2) + 477px);
  }

  .u-section-1 .u-text-15 {
    margin-left: calc(((100% - 1140px) / 2) + 477px);
  }

  .u-section-1 .u-text-16 {
    margin-left: calc(((100% - 1140px) / 2) + 477px);
  }
}